<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    {{!-- Page Meta --}}
    <title>{{meta_title}}</title>
    <meta name="description" content="{{meta_description}}" />

    {{!-- Mobile Meta --}}
    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    {{!-- Favicon --}}
    <link rel="shortcut icon" href="{{asset "favicon.ico"}}">

    {{!-- Styles --}}
    <link rel="stylesheet" type="text/css" href="{{asset "build/css/bundle.css"}}" />

    {{!-- Ghost magic --}}
    {{ghost_head}}
</head>
<body class="{{body_class}}">
    <div class="container">
        {{!-- /partials/navigation.hbs --}}
        {{navigation}}

        {{!-- The rest of the website goes here --}}
        {{{body}}}


    </div>
    {{!-- Simple copyright footer at the veeeery bottom --}}
    <footer class="footer">
        <div class="container">
            <div class="row">
                <section class="copyright col-sm-6">
                    <a href="{{@blog.url}}">{{@blog.title}}</a>
                    &copy; {{date format="YYYY"}}
                </section>
                <section class="poweredby col-sm-6 text-right">
                    Proudly published with <a href="https://ghost.org">Ghost</a>
                </section>
            </div>
        </div>
    </footer>

    {{!-- Ghost magic --}}
    {{ghost_foot}}
    {{!-- Scripts --}}
    <script type="text/javascript" src="{{asset "/build/js/bundle.js"}}"></script>

</body>
</html>
